
* {
    font-family: Arial, Helvetica, sans-serif;
}


.screen {
    display: none;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('./assets/img/main_background.jpg');
    background-size: cover;
} 

.screen-start {
    background-color: bisque;
}

.screen.active {
    display: flex;
}
